@import url('reset.css');
@import url('colors.css');
@import url('typography.css');
@import url('utilities.css');
@import url('icons.css');
@import url('buttons.css');
@import url('base.css');
@import url('start.css');
@import url('game.css');