#game-ui {
  margin: 1em;

  header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: var(--border-thickness) solid var(--text-color);

    .logo {
      display: flex;
      align-items: stretch;
      gap: 1em;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 900;
      letter-spacing: -0.05em;

      h1 {
        display: flex;
        margin: 0;
        padding: 0;
        padding-right: 1.2rem;
        align-items: center;
        border-right: var(--border-thickness) solid var(--text-color);
      }

      .icon-large {
        font-size: 3.5em;
        padding: 0.5rem;
        border-right: var(--border-thickness) solid var(--text-color);
      }
    }

    #resources {
      display: flex;
      gap: 2em;
      font-size: 1.5em;
      font-weight: 900;

      .resource {
        display: flex;
        align-items: center;
        gap: 0.2em;
      }
    }

    #time-module {
      display: flex;
      align-items: stretch;
      border-left: var(--border-thickness) solid var(--text-color);

      #time-display {
        display: flex;
        align-items: center;
        padding: 0 1.5em;
        gap: 1em;

        #day-night-indicator {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: var(--light-yellow);
        }
      }

      button {
        border: none;
        border-left: var(--border-thickness) solid var(--text-color);
        cursor: pointer;
        font-size: 1.5em;
        padding: 0 1em;
        margin: 0;
        display: flex;
        align-items: center;
      }
    }
  }

  #actions-module {
    display: flex;
    gap: 0;
    width: 100%;
    border: var(--border-thickness) solid var(--text-color);
    border-top: 0;

    .action-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
      border: 0;
      border-right: var(--border-thickness) solid var(--text-color);
      padding: 1em;
      margin: 0;
      flex: 1;

      &:last-child {
        border-right: 0;
      }
    }
  }

  #party-module {
    margin-top: 1em;
    margin-bottom: 1em;
    border: var(--border-thickness) solid var(--text-color);

    h2 {
      background-color: white;
      color: black;
      text-transform: uppercase;
      font-weight: 900;
      padding: 0.2em 0.5em;
      font-size: 0.8em;
      border-bottom: var(--border-thickness) solid var(--text-color);
      display: flex;
      align-items: center;
      gap: 0.5em;

      .lucide {
        width: 1.2em;
        height: 1.2em;
      }
    }

    #party {
      display: flex;
      flex-wrap: wrap;

      .person {
        flex: 1 1 33.33%;
        min-width: calc(100% / 3);
        border-right: var(--border-thickness) solid var(--text-color);
        border-bottom: var(--border-thickness) solid var(--text-color);

        &:nth-child(3n) {
          border-right: 0;
        }

        &:nth-last-child(-n+3) {
          border-bottom: 0;
        }

        .person-header {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          border-bottom: var(--border-thickness) solid var(--text-color);
        }

        h3 {
          padding: 0.5em;
          display: flex;
          align-items: center;
          gap: 0.2em;
        }

        .busy-label {
          border-left: var(--border-thickness) solid var(--text-color);
          padding: 0.5em 1em;
          font-size: 0.8em;
          font-weight: 900;
          display: flex;
          align-items: center;

          &.resting {
            background-color: var(--magenta);
          }

          &.busy {
            background-color: var(--green);
          }

          &.idle {
            background-color: var(--gutter-grey);
          }
        }
      }

      .stats-container {
        padding: 0.5em;
      }

      .stats {
        width: 100%;
        border-collapse: collapse;
        text-transform: uppercase;
        font-size: 0.7em;

        td {
          padding: 0 0.5em;
        }

        td:nth-child(2) {
          width: 100%;
        }

        td:nth-child(3) {
          text-align: right;
          white-space: nowrap;
        }

        .progress-bar {
          height: 1em;
          background-color: var(--gutter-grey);
        }

        .progress {
          height: 100%;
          transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;

          &.high {
            background-color: var(--green);
          }

          &.medium {
            background-color: var(--light-yellow);
          }

          &.low {
            background-color: var(--dark-red);
          }
        }
      }

      .traits {
        display: none;
      }

      .person-actions {
        display: flex;
        gap: 0;
        width: 100%;
        border-top: var(--border-thickness) solid var(--text-color);

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0;
          border-right: var(--border-thickness) solid var(--text-color);
          padding: 0.5em 0;
          margin: 0;
          flex: 1;
          gap: 0.5em;
          text-transform: uppercase;
          font-weight: 900;

          span {
            font-size: 0.8em;
            display: flex;
            align-items: center;
            gap: 0.1em;
            font-weight: 400;
          }

          .lucide {
            padding: 0;
            width: 1em;
            height: 1em;
          }

          &:last-child {
            border-right: 0;
          }
        }
      }
    }
  }

  #game-modules {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    #main-modules {
      flex: 1;
      display: grid;
      gap: 1rem;

      @media (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(3, 1fr);
      }

      h2 {
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-weight: 900;
        padding: 0.2em 0.5em;
        font-size: 0.8em;
        border-bottom: var(--border-thickness) solid var(--text-color);
        display: flex;
        align-items: center;
        gap: 0.5em;

        .lucide {
          width: 1.2em;
          height: 1.2em;
        }
      }

      h2.collapsible {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toggle-icon {
          transition: transform 0.3s ease;
        }

        &.collapsed .toggle-icon {
          transform: rotate(180deg);
        }
      }

      .module-content {
        transition: max-height 0.3s ease;
        overflow: hidden;
        max-height: 1000px;
        /* Adjust this value based on your content */
      }

      .module-content.collapsed {
        max-height: 0;
      }
    }

    #secondary-modules {
      flex: 2;
      column-count: 1;
      column-gap: 1rem;

      @media (min-width: 768px) {
        column-count: 2;
      }

      >div {
        break-inside: avoid-column;
        margin-bottom: 1rem;
        display: inline-block;
        width: 100%;
      }

      h2 {
        background-color: white;
        color: black;
        text-transform: uppercase;
        font-weight: 900;
        padding: 0.2em 0.5em;
        font-size: 0.8em;
        border-bottom: var(--border-thickness) solid var(--text-color);
        display: flex;
        align-items: center;
        gap: 0.5em;

        .lucide {
          width: 1.2em;
          height: 1.2em;
        }
      }
    }

    >div>div {
      border: var(--border-thickness) solid var(--text-color);
      border-radius: var(--border-radius);
    }
  }

  #log-content {
    max-height: 400px;
    overflow-y: auto;

    .log-entry {
      font-size: 0.8em;
      border-bottom: var(--border-thickness) solid var(--text-color);
      display: flex;
      align-items: stretch;

      b {
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: var(--border-thickness) solid var(--text-color);
        padding: 0.5em;
        width: 4em;
        /* Set a fixed width */
        min-width: 4em;
        /* Ensure minimum width */
        flex-shrink: 0;
        /* Prevent shrinking */
      }

      span {
        padding: 0.5em;
      }

      &.info {
        background-color: var(--gutter-grey);
      }

      &.warning {
        background-color: var(--light-yellow);
      }

      &.error {
        background-color: var(--dark-red);
      }

      &.success {
        background-color: var(--green);
      }

      &.whisper {
        background-color: var(--magenta);
      }


    }
  }

  #upgrades-module {
    #upgrades {
      .upgrade-button {
        width: 100%;
        margin: 0;
        border: 0;
        text-align: left;
        border-bottom: var(--border-thickness) solid var(--text-color);

        &:last-child {
          border-bottom: none;
        }

        &.cannot-afford {
          &:hover {
            cursor: not-allowed;
            color: var(--text-color);
            background-color: transparent;
          }

          .upgrade-name .name,
          .upgrade-effect {
            opacity: 0.7;
          }
        }

        &.unlocked {
          color: var(--text-color);
          cursor: default;
          background-color: transparent;
        }
      }

      .upgrade-name {
        text-transform: uppercase;
        font-weight: 900;
        display: flex;
        align-items: center;
        margin-bottom: 0.2em;
        justify-content: space-between;

        .name {
          display: flex;
          align-items: center;
          gap: 0.2em;
        }

        .cost {
          display: flex;
          align-items: center;
          gap: 0.2em;
          font-size: 0.8em;

          .lucide {
            width: 1em;
            height: 1em;
          }
        }
      }

      .upgrade-effect {
        font-size: 0.8em;
      }
    }
  }

  #achievements-module {
    #achievements {
      display: grid;
      grid-template-columns: 1fr;
      border-top: var(--border-thickness) solid var(--text-color);

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      .achievement-item {
        padding: 0.75rem;
        border-bottom: var(--border-thickness) solid var(--text-color);

        &:nth-child(even) {
          border-left: var(--border-thickness) solid var(--text-color);
        }

        &:last-child,
        &:nth-last-child(2):nth-child(odd) {
          border-bottom: none;
        }

        .achievement-name {
          font-weight: 900;
        }

        .achievement-description {
          font-size: 0.8em;
        }

        &.achievement-unlocked {
          background-color: var(--green);
        }

        &.achievement-locked {

          .achievement-name,
          .achievement-description {
            opacity: 0.5
          }
        }
      }
    }
  }

  .mystery {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 2em;

    .lucide {
      width: 4em;
      height: 4em;
    }

    .title {
      margin-top: 0.5em;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.2em;
    }

    .description {
      font-size: 0.8em;
    }
  }

  #farming-module {
    .crop-picker {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      border-bottom: var(--border-thickness) solid var(--text-color);

      button {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        border: 0;
        border-left: var(--border-thickness) solid var(--text-color);
        padding: 0.5em;
        font-size: 0.8em;

        &.active {
          background-color: var(--green);
        }

        .lucide:first-child {
          width: 1.75em;
          height: 1.75em;
          margin-right: 0.5em;
        }

        .lucide:last-child {
          width: 1em;
          height: 1em;
        }
      }
    }

    .water-all-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: var(--border-thickness) solid var(--text-color);

      button {
        width: 100%;
        margin: 0;
        border: 0;
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        align-items: center;
        justify-content: space-between;

        div {
          display: flex;
          align-items: center;
          gap: 0.2em;

          .lucide {
            width: 1em;
            height: 1em;
          }
        }

        span {
          font-size: 0.8em;
        }
      }
    }

    .icon-wheat {
      color: var(--light-yellow);
    }

    .icon-carrot {
      color: var(--dark-yellow);
    }

    .icon-bean {
      color: var(--dark-red);
    }

    #farming-grid {
      margin: 1rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      border: var(--border-thickness) solid var(--text-color);

      .plot-cell {
        aspect-ratio: 1 / 1;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        .lucide {
          width: 2em;
          height: 2em;
        }

        &:nth-child(5n) {
          border-right: none;
        }

        &:nth-last-child(-n+5) {
          border-bottom: none;
        }

        &.empty-plot {
          background-color: var(--background-color-alt);
        }

        &.needs-water {
          opacity: 0.6;
        }

        &:hover {
          background-color: var(--green);
        }

        &.growing {
          &:hover {
            background-color: transparent;
            cursor: default;
          }
        }

        &.ready-to-harvest {
          .lucide {
            color: var(--green);
          }

          &:hover {
            .lucide {
              color: var(--background-color);
            }

            background-color: var(--green);
          }
        }
      }
    }
  }
}