.icon-large {
  width: 1.2em;
  height: 1.2em;
}

.icon-dark {
  color: var(--background-color-alt);
}

.icon-dark-red {
  color: var(--dark-red);
}

.icon-blue {
  color: var(--blue);
}

.icon-dark-yellow {
  color: var(--dark-yellow);
}

.icon-green {
  color: var(--green);
}

.icon-gutter-grey {
  color: var(--gutter-grey);
}